In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import ast
import json

Se usará una forma similar a las usadas en Movies_ETL.ipynb, utilizando la librería `ast` para desanidar las columnas.

In [12]:
df = pd.read_csv("credits.csv")
df

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [16]:
dataframe_from_col1 = pd.DataFrame(columns=['cast_id','character','credit_id','actor_gender','actor_id','actor_name','order','profile_path'])

for value in df["cast"]:
    if pd.notna(value):  # Check if the value is not NaN
        data = ast.literal_eval(value)
        if isinstance(data, list) and len(data) > 0:
            cast_id = [item['cast_id'] for item in data]
            character = [item['character'] for item in data]
            credit_id = [item['credit_id'] for item in data]
            actor_gender = [item['gender'] for item in data]
            actor_id = [item['id'] for item in data]
            actor_name = [item['name'] for item in data]
            order = [item['order'] for item in data]
            profile_path = [item['profile_path'] for item in data]
            dataframe_from_col1.loc[len(dataframe_from_col1)] = [
                cast_id,
                character,
                credit_id,
                actor_gender,
                actor_id,
                actor_name,
                order,
                profile_path
            ]
        else:
            dataframe_from_col1.loc[len(dataframe_from_col1)] = [None, None,None, None,None, None,None,None]
    else:
        dataframe_from_col1.loc[len(dataframe_from_col1)] = [None, None,None, None,None, None,None,None]

dataframe_from_col1.head(5)

,cast_id,character,credit_id,actor_gender,actor_id,actor_name,order,profile_path
0,"[14, 15, 16, 17, 18, 19, 20, 26, 22, 23, 24, 2...","[Woody (voice), Buzz Lightyear (voice), Mr. Po...","[52fe4284c3a36847f8024f95, 52fe4284c3a36847f80...","[2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 1, 2]","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[/pQFoyx7rp09CJTAb932F2g8Nlho.jpg, /uX2xVf6pMm..."
1,"[1, 8, 2, 24, 10, 25, 26, 11, 14, 13, 31, 12, ...","[Alan Parrish, Samuel Alan Parrish / Van Pelt,...","[52fe44bfc3a36847f80a7c73, 52fe44bfc3a36847f80...","[2, 2, 1, 0, 1, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, ...","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[/sojtJyIV3lkUeThD7A2oHNm8183.jpg, /7il5D76vx6..."
2,"[2, 3, 4, 5, 6, 9, 10]","[Max Goldman, John Gustafson, Ariel Gustafson,...","[52fe466a9251416c75077a8d, 52fe466a9251416c750...","[2, 2, 1, 1, 1, 2, 2]","[6837, 3151, 13567, 16757, 589, 16523, 7166]","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[0, 1, 2, 3, 4, 5, 6]","[/xJVkvprOnzP5Zdh5y63y8HHniDZ.jpg, /chZmNRYMtq..."
3,"[1, 2, 3, 4, 5, 6, 8, 10, 20, 21]","[Savannah 'Vannah' Jackson, Bernadine 'Bernie'...","[52fe44779251416c91011aad, 52fe44779251416c910...","[1, 1, 1, 1, 2, 2, 2, 2, 2, 2]","[8851, 9780, 18284, 51359, 66804, 352, 87118, ...","[Whitney Houston, Angela Bassett, Loretta Devi...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[/69ouDnXnmklYPr4sMJXWKYz81AL.jpg, /tHkgSzhEuJ..."
4,"[1, 2, 3, 4, 13, 14, 15, 16, 17, 18, 19, 20]","[George Banks, Nina Banks, Franck Eggelhoffer,...","[52fe44959251416c75039eb9, 52fe44959251416c750...","[2, 1, 2, 1, 2, 0, 2, 2, 1, 1, 2, 1]","[67773, 3092, 519, 70696, 59222, 18793, 14592,...","[Steve Martin, Diane Keaton, Martin Short, Kim...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]","[/rI2EMvkfKKPKa5z0nM2pFVBtUyO.jpg, /fzgUMnbOkx..."

In [20]:
result_dataframe = df.join(dataframe_from_col1)
result_dataframe.head(5)

,cast,crew,id,cast_id,character,credit_id,actor_gender,actor_id,actor_name,order,profile_path
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[14, 15, 16, 17, 18, 19, 20, 26, 22, 23, 24, 2...","[Woody (voice), Buzz Lightyear (voice), Mr. Po...","[52fe4284c3a36847f8024f95, 52fe4284c3a36847f80...","[2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 1, 2]","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[/pQFoyx7rp09CJTAb932F2g8Nlho.jpg, /uX2xVf6pMm..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[1, 8, 2, 24, 10, 25, 26, 11, 14, 13, 31, 12, ...","[Alan Parrish, Samuel Alan Parrish / Van Pelt,...","[52fe44bfc3a36847f80a7c73, 52fe44bfc3a36847f80...","[2, 2, 1, 0, 1, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, ...","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[/sojtJyIV3lkUeThD7A2oHNm8183.jpg, /7il5D76vx6..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[2, 3, 4, 5, 6, 9, 10]","[Max Goldman, John Gustafson, Ariel Gustafson,...","[52fe466a9251416c75077a8d, 52fe466a9251416c750...","[2, 2, 1, 1, 1, 2, 2]","[6837, 3151, 13567, 16757, 589, 16523, 7166]","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[0, 1, 2, 3, 4, 5, 6]","[/xJVkvprOnzP5Zdh5y63y8HHniDZ.jpg, /chZmNRYMtq..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[1, 2, 3, 4, 5, 6, 8, 10, 20, 21]","[Savannah 'Vannah' Jackson, Bernadine 'Bernie'...","[52fe44779251416c91011aad, 52fe44779251416c910...","[1, 1, 1, 1, 2, 2, 2, 2, 2, 2]","[8851, 9780, 18284, 51359, 66804, 352, 87118, ...","[Whitney Houston, Angela Bassett, Loretta Devi...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[/69ouDnXnmklYPr4sMJXWKYz81AL.jpg, /tHkgSzhEuJ..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[1, 2, 3, 4, 13, 14, 15, 16, 17, 18, 19, 20]","[George Banks, Nina Banks, Franck Eggelhoffer,...","[52fe44959251416c75039eb9, 52fe44959251416c750...","[2, 1, 2, 1, 2, 0, 2, 2, 1, 1, 2, 1]","[67773, 3092, 519, 70696, 59222, 18793, 14592,...","[Steve Martin, Diane Keaton, Martin Short, Kim...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]","[/rI2EMvkfKKPKa5z0nM2pFVBtUyO.jpg, /fzgUMnbOkx..."

In [21]:
dataframe_from_col2 = pd.DataFrame(columns=['crew_credit_id','crew_department','crew_gender','crew_id','crew_job','crew_name','crew_profile_path'])

for value in df["crew"]:
    if pd.notna(value):  # Check if the value is not NaN
        data = ast.literal_eval(value)
        if isinstance(data, list) and len(data) > 0:
            crew_credit_id = [item['credit_id'] for item in data]
            crew_department = [item['department'] for item in data]
            crew_gender = [item['gender'] for item in data]
            crew_id = [item['id'] for item in data]
            crew_job = [item['job'] for item in data]
            crew_name = [item['name'] for item in data]
            crew_profile_path = [item['profile_path'] for item in data]
            dataframe_from_col2.loc[len(dataframe_from_col2)] = [
                crew_credit_id,
                crew_department,
                crew_gender,
                crew_id,
                crew_job,
                crew_name,
                crew_profile_path
            ]
        else:
            dataframe_from_col2.loc[len(dataframe_from_col2)] = [None, None,None, None,None, None,None]
    else:
        dataframe_from_col2.loc[len(dataframe_from_col2)] = [None, None,None, None,None, None,None]

dataframe_from_col2.head(5)

,crew_credit_id,crew_department,crew_gender,crew_id,crew_job,crew_name,crew_profile_path
0,"[52fe4284c3a36847f8024f49, 52fe4284c3a36847f80...","[Directing, Writing, Writing, Writing, Writing...","[2, 2, 2, 2, 0, 1, 0, 2, 2, 2, 2, 2, 0, 0, 0, ...","[7879, 12891, 7, 12892, 12893, 12894, 12895, 1...","[Director, Screenplay, Screenplay, Screenplay,...","[John Lasseter, Joss Whedon, Andrew Stanton, J...","[/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg, /dTiVsuaTVT..."
1,"[52fe44bfc3a36847f80a7cd1, 52fe44bfc3a36847f80...","[Production, Writing, Sound, Directing, Editin...","[2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2]","[511, 876, 1729, 4945, 4951, 4952, 8023, 9967,...","[Executive Producer, Screenplay, Original Musi...","[Larry J. Franco, Jonathan Hensleigh, James Ho...","[None, /l1c4UFD3g0HVWj5f0CxXAvMAGiT.jpg, /oLOt..."
2,"[52fe466a9251416c75077a89, 52fe466b9251416c750...","[Directing, Writing, Writing, Crew]","[2, 2, 2, 2]","[26502, 16837, 16837, 1551320]","[Director, Characters, Writer, Sound Recordist]","[Howard Deutch, Mark Steven Johnson, Mark Stev...","[/68Vae1HkU1NxQZ6KEmuxIpno7c9.jpg, /6trChNn3o2..."
3,"[52fe44779251416c91011acb, 52fe44779251416c910...","[Directing, Writing, Production, Production, P...","[2, 0, 0, 2, 1, 0, 0, 0, 2, 0]","[2178, 5144, 5144, 21968, 70592, 111118, 11111...","[Director, Screenplay, Producer, Producer, Pro...","[Forest Whitaker, Ronald Bass, Ronald Bass, Ez...","[/4pMQkelS5lK661m9Kz3oIxLYiyS.jpg, None, None,..."
4,"[52fe44959251416c75039ed7, 52fe44959251416c750...","[Sound, Camera, Writing, Production, Writing, ...","[2, 2, 1, 1, 2, 2, 2]","[37, 5506, 17698, 17698, 26160, 56106, 68755]","[Original Music Composer, Director of Photogra...","[Alan Silvestri, Elliot Davis, Nancy Meyers, N...","[/chEsfnDEtRmv1bfOaNAoVEzhCc6.jpg, None, /nMPH..."

In [22]:
result_dataframe = result_dataframe.join(dataframe_from_col2)
result_dataframe.head(5)

,cast,crew,id,cast_id,character,credit_id,actor_gender,actor_id,actor_name,order,profile_path,crew_credit_id,crew_department,crew_gender,crew_id,crew_job,crew_name,crew_profile_path
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[14, 15, 16, 17, 18, 19, 20, 26, 22, 23, 24, 2...","[Woody (voice), Buzz Lightyear (voice), Mr. Po...","[52fe4284c3a36847f8024f95, 52fe4284c3a36847f80...","[2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 1, 2]","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[/pQFoyx7rp09CJTAb932F2g8Nlho.jpg, /uX2xVf6pMm...","[52fe4284c3a36847f8024f49, 52fe4284c3a36847f80...","[Directing, Writing, Writing, Writing, Writing...","[2, 2, 2, 2, 0, 1, 0, 2, 2, 2, 2, 2, 0, 0, 0, ...","[7879, 12891, 7, 12892, 12893, 12894, 12895, 1...","[Director, Screenplay, Screenplay, Screenplay,...","[John Lasseter, Joss Whedon, Andrew Stanton, J...","[/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg, /dTiVsuaTVT..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[1, 8, 2, 24, 10, 25, 26, 11, 14, 13, 31, 12, ...","[Alan Parrish, Samuel Alan Parrish / Van Pelt,...","[52fe44bfc3a36847f80a7c73, 52fe44bfc3a36847f80...","[2, 2, 1, 0, 1, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, ...","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[/sojtJyIV3lkUeThD7A2oHNm8183.jpg, /7il5D76vx6...","[52fe44bfc3a36847f80a7cd1, 52fe44bfc3a36847f80...","[Production, Writing, Sound, Directing, Editin...","[2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2]","[511, 876, 1729, 4945, 4951, 4952, 8023, 9967,...","[Executive Producer, Screenplay, Original Musi...","[Larry J. Franco, Jonathan Hensleigh, James Ho...","[None, /l1c4UFD3g0HVWj5f0CxXAvMAGiT.jpg, /oLOt..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[2, 3, 4, 5, 6, 9, 10]","[Max Goldman, John Gustafson, Ariel Gustafson,...","[52fe466a9251416c75077a8d, 52fe466a9251416c750...","[2, 2, 1, 1, 1, 2, 2]","[6837, 3151, 13567, 16757, 589, 16523, 7166]","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[0, 1, 2, 3, 4, 5, 6]","[/xJVkvprOnzP5Zdh5y63y8HHniDZ.jpg, /chZmNRYMtq...","[52fe466a9251416c75077a89, 52fe466b9251416c750...","[Directing, Writing, Writing, Crew]","[2, 2, 2, 2]","[26502, 16837, 16837, 1551320]","[Director, Characters, Writer, Sound Recordist]","[Howard Deutch, Mark Steven Johnson, Mark Stev...","[/68Vae1HkU1NxQZ6KEmuxIpno7c9.jpg, /6trChNn3o2..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[1, 2, 3, 4, 5, 6, 8, 10, 20, 21]","[Savannah 'Vannah' Jackson, Bernadine 'Bernie'...","[52fe44779251416c91011aad, 52fe44779251416c910...","[1, 1, 1, 1, 2, 2, 2, 2, 2, 2]","[8851, 9780, 18284, 51359, 66804, 352, 87118, ...","[Whitney Houston, Angela Bassett, Loretta Devi...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[/69ouDnXnmklYPr4sMJXWKYz81AL.jpg, /tHkgSzhEuJ...","[52fe44779251416c91011acb, 52fe44779251416c910...","[Directing, Writing, Production, Production, P...","[2, 0, 0, 2, 1, 0, 0, 0, 2, 0]","[2178, 5144, 5144, 21968, 70592, 111118, 11111...","[Director, Screenplay, Producer, Producer, Pro...","[Forest Whitaker, Ronald Bass, Ronald Bass, Ez...","[/4pMQkelS5lK661m9Kz3oIxLYiyS.jpg, None, None,..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[1, 2, 3, 4, 13, 14, 15, 16, 17, 18, 19, 20]","[George Banks, Nina Banks, Franck Eggelhoffer,...","[52fe44959251416c75039eb9, 52fe44959251416c750...","[2, 1, 2, 1, 2, 0, 2, 2, 1, 1, 2, 1]","[67773, 3092, 519, 70696, 59222, 18793, 14592,...","[Steve Martin, Diane Keaton, Martin Short, Kim...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]","[/rI2EMvkfKKPKa5z0nM2pFVBtUyO.jpg, /fzgUMnbOkx...","[52fe44959251416c75039ed7, 52fe44959251416c750...","[Sound, Camera, Writing, Production, Writing, ...","[2, 2, 1, 1, 2, 2, 2]","[37, 5506, 17698, 17698, 26160, 56106, 68755]","[Original Music Composer, Director of Photogra...","[Alan Silvestri, Elliot Davis, Nancy Meyers, N...","[/chEsfnDEtRmv1bfOaNAoVEzhCc6.jpg, None, /nMPH..."

In [23]:
result_dataframe.drop(columns=["cast","crew"],axis=1,inplace=True)
result_dataframe.head(5)

,id,cast_id,character,credit_id,actor_gender,actor_id,actor_name,order,profile_path,crew_credit_id,crew_department,crew_gender,crew_id,crew_job,crew_name,crew_profile_path
0,862,"[14, 15, 16, 17, 18, 19, 20, 26, 22, 23, 24, 2...","[Woody (voice), Buzz Lightyear (voice), Mr. Po...","[52fe4284c3a36847f8024f95, 52fe4284c3a36847f80...","[2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 1, 2]","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[/pQFoyx7rp09CJTAb932F2g8Nlho.jpg, /uX2xVf6pMm...","[52fe4284c3a36847f8024f49, 52fe4284c3a36847f80...","[Directing, Writing, Writing, Writing, Writing...","[2, 2, 2, 2, 0, 1, 0, 2, 2, 2, 2, 2, 0, 0, 0, ...","[7879, 12891, 7, 12892, 12893, 12894, 12895, 1...","[Director, Screenplay, Screenplay, Screenplay,...","[John Lasseter, Joss Whedon, Andrew Stanton, J...","[/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg, /dTiVsuaTVT..."
1,8844,"[1, 8, 2, 24, 10, 25, 26, 11, 14, 13, 31, 12, ...","[Alan Parrish, Samuel Alan Parrish / Van Pelt,...","[52fe44bfc3a36847f80a7c73, 52fe44bfc3a36847f80...","[2, 2, 1, 0, 1, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, ...","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[/sojtJyIV3lkUeThD7A2oHNm8183.jpg, /7il5D76vx6...","[52fe44bfc3a36847f80a7cd1, 52fe44bfc3a36847f80...","[Production, Writing, Sound, Directing, Editin...","[2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2]","[511, 876, 1729, 4945, 4951, 4952, 8023, 9967,...","[Executive Producer, Screenplay, Original Musi...","[Larry J. Franco, Jonathan Hensleigh, James Ho...","[None, /l1c4UFD3g0HVWj5f0CxXAvMAGiT.jpg, /oLOt..."
2,15602,"[2, 3, 4, 5, 6, 9, 10]","[Max Goldman, John Gustafson, Ariel Gustafson,...","[52fe466a9251416c75077a8d, 52fe466a9251416c750...","[2, 2, 1, 1, 1, 2, 2]","[6837, 3151, 13567, 16757, 589, 16523, 7166]","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[0, 1, 2, 3, 4, 5, 6]","[/xJVkvprOnzP5Zdh5y63y8HHniDZ.jpg, /chZmNRYMtq...","[52fe466a9251416c75077a89, 52fe466b9251416c750...","[Directing, Writing, Writing, Crew]","[2, 2, 2, 2]","[26502, 16837, 16837, 1551320]","[Director, Characters, Writer, Sound Recordist]","[Howard Deutch, Mark Steven Johnson, Mark Stev...","[/68Vae1HkU1NxQZ6KEmuxIpno7c9.jpg, /6trChNn3o2..."
3,31357,"[1, 2, 3, 4, 5, 6, 8, 10, 20, 21]","[Savannah 'Vannah' Jackson, Bernadine 'Bernie'...","[52fe44779251416c91011aad, 52fe44779251416c910...","[1, 1, 1, 1, 2, 2, 2, 2, 2, 2]","[8851, 9780, 18284, 51359, 66804, 352, 87118, ...","[Whitney Houston, Angela Bassett, Loretta Devi...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[/69ouDnXnmklYPr4sMJXWKYz81AL.jpg, /tHkgSzhEuJ...","[52fe44779251416c91011acb, 52fe44779251416c910...","[Directing, Writing, Production, Production, P...","[2, 0, 0, 2, 1, 0, 0, 0, 2, 0]","[2178, 5144, 5144, 21968, 70592, 111118, 11111...","[Director, Screenplay, Producer, Producer, Pro...","[Forest Whitaker, Ronald Bass, Ronald Bass, Ez...","[/4pMQkelS5lK661m9Kz3oIxLYiyS.jpg, None, None,..."
4,11862,"[1, 2, 3, 4, 13, 14, 15, 16, 17, 18, 19, 20]","[George Banks, Nina Banks, Franck Eggelhoffer,...","[52fe44959251416c75039eb9, 52fe44959251416c750...","[2, 1, 2, 1, 2, 0, 2, 2, 1, 1, 2, 1]","[67773, 3092, 519, 70696, 59222, 18793, 14592,...","[Steve Martin, Diane Keaton, Martin Short, Kim...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]","[/rI2EMvkfKKPKa5z0nM2pFVBtUyO.jpg, /fzgUMnbOkx...","[52fe44959251416c75039ed7, 52fe44959251416c750...","[Sound, Camera, Writing, Production, Writing, ...","[2, 2, 1, 1, 2, 2, 2]","[37, 5506, 17698, 17698, 26160, 56106, 68755]","[Original Music Composer, Director of Photogra...","[Alan Silvestri, Elliot Davis, Nancy Meyers, N...","[/chEsfnDEtRmv1bfOaNAoVEzhCc6.jpg, None, /nMPH..."

In [32]:
#result_dataframe.to_csv("credits_unnested.csv", index=False, compression='gzip')

In [2]:
compressed_df = pd.read_csv("credits_unnested.csv",compression='gzip')
compressed_df.head(2)

,id,cast_id,character,credit_id,actor_gender,actor_id,actor_name,order,profile_path,crew_credit_id,crew_department,crew_gender,crew_id,crew_job,crew_name,crew_profile_path
0,862,"[14, 15, 16, 17, 18, 19, 20, 26, 22, 23, 24, 2...","['Woody (voice)', 'Buzz Lightyear (voice)', 'M...","['52fe4284c3a36847f8024f95', '52fe4284c3a36847...","[2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 1, 2]","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","['/pQFoyx7rp09CJTAb932F2g8Nlho.jpg', '/uX2xVf6...","['52fe4284c3a36847f8024f49', '52fe4284c3a36847...","['Directing', 'Writing', 'Writing', 'Writing',...","[2, 2, 2, 2, 0, 1, 0, 2, 2, 2, 2, 2, 0, 0, 0, ...","[7879, 12891, 7, 12892, 12893, 12894, 12895, 1...","['Director', 'Screenplay', 'Screenplay', 'Scre...","['John Lasseter', 'Joss Whedon', 'Andrew Stant...","['/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg', '/dTiVsua..."
1,8844,"[1, 8, 2, 24, 10, 25, 26, 11, 14, 13, 31, 12, ...","['Alan Parrish', 'Samuel Alan Parrish / Van Pe...","['52fe44bfc3a36847f80a7c73', '52fe44bfc3a36847...","[2, 2, 1, 0, 1, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, ...","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...","['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","['/sojtJyIV3lkUeThD7A2oHNm8183.jpg', '/7il5D76...","['52fe44bfc3a36847f80a7cd1', '52fe44bfc3a36847...","['Production', 'Writing', 'Sound', 'Directing'...","[2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2]","[511, 876, 1729, 4945, 4951, 4952, 8023, 9967,...","['Executive Producer', 'Screenplay', 'Original...","['Larry J. Franco', 'Jonathan Hensleigh', 'Jam...","[None, '/l1c4UFD3g0HVWj5f0CxXAvMAGiT.jpg', '/o..."

Para poder desanidar cada columna se usará la función `explode()` de pandas. Pero se debe primero aplicar una `lambda` a cada columna que se quiere desanidar

In [27]:
df = compressed_df.copy()
for item in df.columns:
  if item != 'id':
    df[item] = df[item].apply(lambda x: ast.literal_eval(x) if not pd.isna(x) else [])
df.head()

,id,cast_id,character,credit_id,actor_gender,actor_id,actor_name,order,profile_path,crew_credit_id,crew_department,crew_gender,crew_id,crew_job,crew_name,crew_profile_path
0,862,"[14, 15, 16, 17, 18, 19, 20, 26, 22, 23, 24, 2...","[Woody (voice), Buzz Lightyear (voice), Mr. Po...","[52fe4284c3a36847f8024f95, 52fe4284c3a36847f80...","[2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 1, 2]","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[/pQFoyx7rp09CJTAb932F2g8Nlho.jpg, /uX2xVf6pMm...","[52fe4284c3a36847f8024f49, 52fe4284c3a36847f80...","[Directing, Writing, Writing, Writing, Writing...","[2, 2, 2, 2, 0, 1, 0, 2, 2, 2, 2, 2, 0, 0, 0, ...","[7879, 12891, 7, 12892, 12893, 12894, 12895, 1...","[Director, Screenplay, Screenplay, Screenplay,...","[John Lasseter, Joss Whedon, Andrew Stanton, J...","[/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg, /dTiVsuaTVT..."
1,8844,"[1, 8, 2, 24, 10, 25, 26, 11, 14, 13, 31, 12, ...","[Alan Parrish, Samuel Alan Parrish / Van Pelt,...","[52fe44bfc3a36847f80a7c73, 52fe44bfc3a36847f80...","[2, 2, 1, 0, 1, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, ...","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[/sojtJyIV3lkUeThD7A2oHNm8183.jpg, /7il5D76vx6...","[52fe44bfc3a36847f80a7cd1, 52fe44bfc3a36847f80...","[Production, Writing, Sound, Directing, Editin...","[2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2]","[511, 876, 1729, 4945, 4951, 4952, 8023, 9967,...","[Executive Producer, Screenplay, Original Musi...","[Larry J. Franco, Jonathan Hensleigh, James Ho...","[None, /l1c4UFD3g0HVWj5f0CxXAvMAGiT.jpg, /oLOt..."
2,15602,"[2, 3, 4, 5, 6, 9, 10]","[Max Goldman, John Gustafson, Ariel Gustafson,...","[52fe466a9251416c75077a8d, 52fe466a9251416c750...","[2, 2, 1, 1, 1, 2, 2]","[6837, 3151, 13567, 16757, 589, 16523, 7166]","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[0, 1, 2, 3, 4, 5, 6]","[/xJVkvprOnzP5Zdh5y63y8HHniDZ.jpg, /chZmNRYMtq...","[52fe466a9251416c75077a89, 52fe466b9251416c750...","[Directing, Writing, Writing, Crew]","[2, 2, 2, 2]","[26502, 16837, 16837, 1551320]","[Director, Characters, Writer, Sound Recordist]","[Howard Deutch, Mark Steven Johnson, Mark Stev...","[/68Vae1HkU1NxQZ6KEmuxIpno7c9.jpg, /6trChNn3o2..."
3,31357,"[1, 2, 3, 4, 5, 6, 8, 10, 20, 21]","[Savannah 'Vannah' Jackson, Bernadine 'Bernie'...","[52fe44779251416c91011aad, 52fe44779251416c910...","[1, 1, 1, 1, 2, 2, 2, 2, 2, 2]","[8851, 9780, 18284, 51359, 66804, 352, 87118, ...","[Whitney Houston, Angela Bassett, Loretta Devi...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[/69ouDnXnmklYPr4sMJXWKYz81AL.jpg, /tHkgSzhEuJ...","[52fe44779251416c91011acb, 52fe44779251416c910...","[Directing, Writing, Production, Production, P...","[2, 0, 0, 2, 1, 0, 0, 0, 2, 0]","[2178, 5144, 5144, 21968, 70592, 111118, 11111...","[Director, Screenplay, Producer, Producer, Pro...","[Forest Whitaker, Ronald Bass, Ronald Bass, Ez...","[/4pMQkelS5lK661m9Kz3oIxLYiyS.jpg, None, None,..."
4,11862,"[1, 2, 3, 4, 13, 14, 15, 16, 17, 18, 19, 20]","[George Banks, Nina Banks, Franck Eggelhoffer,...","[52fe44959251416c75039eb9, 52fe44959251416c750...","[2, 1, 2, 1, 2, 0, 2, 2, 1, 1, 2, 1]","[67773, 3092, 519, 70696, 59222, 18793, 14592,...","[Steve Martin, Diane Keaton, Martin Short, Kim...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]","[/rI2EMvkfKKPKa5z0nM2pFVBtUyO.jpg, /fzgUMnbOkx...","[52fe44959251416c75039ed7, 52fe44959251416c750...","[Sound, Camera, Writing, Production, Writing, ...","[2, 2, 1, 1, 2, 2, 2]","[37, 5506, 17698, 17698, 26160, 56106, 68755]","[Original Music Composer, Director of Photogra...","[Alan Silvestri, Elliot Davis, Nancy Meyers, N...","[/chEsfnDEtRmv1bfOaNAoVEzhCc6.jpg, None, /nMPH..."

Ahora que se convirtieron a listas usando `ast.list_eval`, se debe hacer un `explode` de cada columna como sigue

In [28]:
df.columns
['id', 'cast_id', 'character', 'credit_id', 'actor_gender', 'actor_id',
       'actor_name', 'order', 'profile_path', 'crew_credit_id',
       'crew_department', 'crew_gender', 'crew_id', 'crew_job', 'crew_name',
       'crew_profile_path'],

Index(['id', 'cast_id', 'character', 'credit_id', 'actor_gender', 'actor_id',
       'actor_name', 'order', 'profile_path', 'crew_credit_id',
       'crew_department', 'crew_gender', 'crew_id', 'crew_job', 'crew_name',
       'crew_profile_path'],
      dtype='object')

In [37]:
cast_id = df[["id","cast_id"]].explode("cast_id").reset_index(drop=True)
character= df[["id","character"]].explode("character").reset_index(drop=True)
credit_id= df[["id","credit_id"]].explode("credit_id").reset_index(drop=True)
actor_gender= df[["id","actor_gender"]].explode("actor_gender").reset_index(drop=True)
actor_id= df[["id","actor_id"]].explode("actor_id").reset_index(drop=True)
actor_name= df[["id","actor_name"]].explode("actor_name").reset_index(drop=True)
order= df[["id","order"]].explode("order").reset_index(drop=True)
profile_path= df[["id","profile_path"]].explode("profile_path").reset_index(drop=True)
crew_credit_id= df[["id","crew_credit_id"]].explode("crew_credit_id").reset_index(drop=True)
crew_department= df[["id","crew_department"]].explode("crew_department").reset_index(drop=True)
crew_gender= df[["id","crew_gender"]].explode("crew_gender").reset_index(drop=True)
crew_id= df[["id","crew_id"]].explode("crew_id").reset_index(drop=True)
crew_job= df[["id","crew_job"]].explode("crew_job").reset_index(drop=True)
crew_name= df[["id","crew_name"]].explode("crew_name").reset_index(drop=True)
crew_profile_path= df[["id","crew_profile_path"]].explode("crew_profile_path").reset_index(drop=True)

In [48]:
new_df = cast_id
new_df['character'] = character["character"]
new_df['credit_id'] = credit_id["credit_id"]
new_df['actor_gender'] = actor_gender["actor_gender"]
new_df['actor_id'] = actor_id["actor_id"]
new_df['actor_name'] = actor_name["actor_name"]
new_df['order'] = order["order"]
new_df['profile_path'] = profile_path["profile_path"]
new_df['crew_credit_id'] = crew_credit_id["crew_credit_id"]
new_df['crew_department'] = crew_department["crew_department"]
new_df['crew_gender'] = crew_gender["crew_gender"]
new_df['crew_id'] = crew_id["crew_id"]
new_df['crew_job'] = crew_job["crew_job"]
new_df['crew_name'] = crew_name["crew_name"]
new_df['crew_profile_path'] = crew_profile_path["crew_profile_path"]
new_df.head()

,id,cast_id,character,credit_id,actor_gender,actor_id,actor_name,order,profile_path,crew_credit_id,crew_department,crew_gender,crew_id,crew_job,crew_name,crew_profile_path
0,862,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,52fe4284c3a36847f8024f49,Directing,2,7879,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg
1,862,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,12898,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,52fe4284c3a36847f8024f4f,Writing,2,12891,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg
2,862,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,7167,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,52fe4284c3a36847f8024f55,Writing,2,7,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg
3,862,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,12899,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,52fe4284c3a36847f8024f5b,Writing,2,12892,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg
4,862,18,Rex (voice),52fe4284c3a36847f8024fa5,2,12900,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,52fe4284c3a36847f8024f61,Writing,0,12893,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg

In [50]:
final_credits_dataset = new_df.copy()
final_credits_dataset.to_csv("credits_dataset_final.csv",index=False,compression="gzip")